<h3>Edit This Concert</h3>
<form ng-submit="concertEditVm.updateConcert()">
  <div>
    <label for="band">Band:</label>
    <input type="text" id="band" ng-model="concertNewVm.newConcert.band">
  </div>
  <div>
    <label for="genre">Genre:</label>
    <input type="text" id="genre" ng-model="concertNewVm.newConcert.genre">
  </div>
  <div>
    <label for="venue">Venue:</label>
    <input type="text" id="venue" ng-model="concertNewVm.newConcert.venue">
  </div>
  <div>
    <label for="date">Date:</label>
    <input type="text" id="date" ng-model="concertNewVm.newConcert.date">
  </div>
  <div>
    <label for="time">Time:</label>
    <input type="text" id="time" ng-model="concertNewVm.newConcert.time">
  </div>
  <div>
    <input type="submit" value="Edit Concert">
  </div>
</form>
